version: '3.1'

services:
  mailbagit:
    image: ualbanyarchives/mailbagit:latest
    volumes:
      - '.:/data'
    tty: true
    stdin_open: true
    restart: always
    working_dir: /data
    entrypoint: /bin/bash