[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bagit = "==1.8.1"
black = "==22.1.0"
cffi = "==1.15.0"
chardet = "==4.0.0"
click = "==8.0.4"
colorama = "==0.4.4"
colorclass = "==2.2.2"
colored = "==1.4.3"
compressed-rtf = "==1.0.6"
cryptography = "==36.0.1"
easygui = "==0.98.2"
ebcdic = "==1.1.1"
extract-msg = "==0.28.6"
jsonmodels = "==2.5.0"
lark-parser = "==0.12.0"
libpff-python-ratom = "==20200808"
msoffcrypto-tool = "==5.0.0"
mypy-extensions = "==0.4.3"
numpy = "==1.22.2"
olefile = "==0.46"
oletools = "==0.60"
pathspec = "==0.9.0"
pcodedmp = "==1.2.6"
platformdirs = "==2.5.1"
psutil = "==5.9.0"
pycparser = "==2.21"
pygtrie = "==2.4.2"
pyparsing = "==2.4.7"
python-dateutil = "==2.8.2"
python-dotenv = "==0.19.1"
pytz-deprecation-shim = "==0.1.0.post0"
six = "==1.16.0"
structlog = "==21.1.0"
tomli = "==2.0.1"
typing-extensions = "==4.1.1"
tzdata = "==2021.5"
tzlocal = "==4.1"
Gooey = "==1.0.8.1"
IMAPClient = "==2.1.0"
Pillow = "==9.0.1"
RTFDE = "==0.0.2"
win_unicode_console = "==0.5"
wxPython = "==4.1.1"

[dev-packages]
